/* App.css */

.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;


}

h1 {
  color: #333; /* Set your preferred text color */
  text-align: center;
padding: auto; /* Adjust margin-top based on your preference */
}
