/* submitform.css */


/* submitform.css */

.form-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Adjust the max-width as needed */
  margin: auto; /* Center horizontally */
  margin-top: 50px; /* Add margin-top for spacing from the top */
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container form {
  text-align: center;
}

.form-container label {
  display: block;
  margin-top: 10px;
}

.form-container input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.form-container button {
  background-color: rgb(37, 216, 20);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
